/* Gestion du css de la navbar header */
.main-navbar {
    background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

/*Le logo nintendo*/
.Home-logo {
    height: 4em;
    width: 8em;
}

/*Positionement navbar header*/
.navbar_content {
    list-style-type: none;
    color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.navbar_content li{
    margin: 10px;
}

.navbar_content li svg{
    margin:auto;
}

.text_connexion {
    color:white;
}

.navbar_content li :hover {
    text-decoration: underline white;
}

a:link {
    text-decoration: none;
}

/* Gestion CSS de la navbar side */
.side_navbar {
    background-color: red;
    display: flex;
    flex-direction: column;
    position:fixed;
}

.side_navbar_content {
    list-style-type: none;
    color: white;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    color: white;
}