/* Gestion du css de la navbar header */
*{
    margin:0;
    padding:0;
}

.main-navbar {
    background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

/*Le logo nintendo*/
.Home-logo {
    height: 4em;
    width: 8em;
}

/*Positionement navbar header*/
.navbar_content {
    list-style-type: none;
    color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.navbar_content li{
    margin: 10px;
}

.navbar_content li svg{
    margin:auto;
    display: flex;
    justify-content: center;
}

.text_connexion {
    color:white;
}

.navbar_content li :hover {
    text-decoration: underline white;
}

a:link {
    text-decoration: none;
}

/* Gestion CSS de la navbar side */
.side_navbar {
    background-color: brown;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.side_navbar_content {
    list-style-type: none;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.side_navbar_content li {
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-top-right-radius: 1em;
    border: solid black 1px;
}

.side_navbar_content :hover {
    background-color: brown;
}

.back_to_top{
    position:relative;
    padding-top:200px;
}