.main-navbar {
    background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.Home-logo {
    height: 4em;
    width: 8em;
}

.navbar_content {
    list-style-type: none;
    color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.text_connexion {
    color: white;
}

.text_connexion:hover {
    text-decoration: underline white;
}

a:link {
    text-decoration: none;
}